#--------------------------------------------------------------------
# ENVIRONMENT
#--------------------------------------------------------------------

CI_ENVIRONMENT = 

#--------------------------------------------------------------------
# APP
#--------------------------------------------------------------------

app.baseURL = 
# app.forceGlobalSecureRequests = 
# app.CSPEnabled = 

#--------------------------------------------------------------------
# DATABASE
#--------------------------------------------------------------------

database.default.hostname = 
database.default.database = 
database.default.username = 
database.default.password = 
database.default.DBDriver = 
database.default.DBPrefix = 
database.default.port = 
